* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background: #1e5799; 
  background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); 
  background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); 
  background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); 
  
  color: white;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px;

  position: fixed;
  width: 100%;  

}


button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  background-color: transparent;
  color: white;

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;

  
}


.month {

  display: flex;
  align-items: center;

  padding: 182px 48px 0px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;

}

form {
  display: flex;

  padding: 48px;
  width: fit-content;
}

.habits{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  
  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;

  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;

  color: #A1A1AA;

  text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;

  height: 64px;
  width: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;

  background: #18181b;
}

input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
}

@media (max-width: 570px){
  button div{
    display: none;
  }
}